<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
	<script src="https://code.jquery.com/jquery.js"></script>
	<title>Tripper</title>
</head>

<body>
	{{{ body }}}
</body>
<script src="/assets/js/index.js" type=""></script>

</html>