<div className = 'form'>

  <h2>Add A Trip</h2>

  <form class="create-trip">

    <div class="form-group">
      <label for="new-trip">Your Name:</label>
      <textarea id="auth" name="trip" rows="8" cols="40"></textarea>
    </div>
    <div class="form-group">
      <label for="new-trip">Destination:</label>
      <textarea id="dest" name="trip" rows="8" cols="40"></textarea>
    </div>
    <div class="form-group">
      <label for="new-trip">Description:</label>
      <textarea id="description" name="trip" rows="8" cols="40"></textarea>
    </div>
    <div class="form-group">
      <label for="new-trip">Rating:</label>
      <textarea id="rating" name="trip" rows="8" cols="40"></textarea>
    </div>

    <button type="submit">Add Your Trip </button>
  </form>

</div>
