<div id="loginHeader">
    <h2>In order to Add a trip, you must log-in!</h3>
    <h2><a href="/signup">If you would like to create an account, Sign-up here!</a></h3>
</div>

<form class="login">
    <div class="form-group">
        <label class="login-label" for="exampleInputUsername">Username</label>
        <input class="login-label" type="username" class="form-control" id="loginUsername" placeholder="Username">
    </div>
    <div class="form-group">
        <label class="login-label" for="exampleInputPassword1">Password</label>
        <input class="login-label" type="password" class="form-control" id="loginPassword" placeholder="Password">
    </div>
    <button type="submit" id="login_submit" class="btn btn-default">Login</button>
</form>
<script src="/assets/js/login.js" type=""></script>