<div id=loginHeader>
    <h1>Registration</h1>
</div>

<div id="instructions">
    <h3>Please register in order to add a trip!</h3>
    <h3>Or, <a href="/login">Log-in here!</a></h3>
</div>

<h2>Sign Up Form</h2>
<form class="signup">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="signupUsername" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="signupPassword" placeholder="Password">
    </div>
    <div style="display: none" id="alert" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span> <span class="msg"></span>
    </div>
    <button type="submit" id="signup_submit" class="btn btn-default">Sign Up</button>
</form>
<script src="/assets/js/signup.js" type=""></script>
