/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif, 'Segoe UI', Tahoma, verdana;
}

body, html{
    min-height: 100%;
}

body {
    background-image: url(../images/TripperBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    display:block;
    font-size: 100px;
    font-family:cursive;
    font-weight:600;
    transform: scale(1.4);
    margin-left: 45%;
    margin-bottom: 5%;
    margin-top: 5%;
    color: #07707c;
}

h2 {
    display:block;
    font-size: 50px;
    font-family:cursive;
    font-weight:600;
    transform: scale(1.4);
    margin-left: 45%;
    margin-bottom: 5%;
    margin-top: 5%;
    color: #0a0c0c;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

p1 {
    font-size:45px;
    font-weight: 600;
    color:#090a0a;
    display:flex;
    margin-left:38%;
    margin-right:22%;
}

p {
    font-weight: 500;
}

a{
    display:flex;
    align-items: center;
    justify-content:center;
    margin-right: 30%;
    margin-left: 4%;
}

/*Add trip/Delete trip Button styling*/
a button{
    background-color: #6992b4;
    font-size: 20px;
    color: aliceblue;
    border-radius: 5px;
    margin-left: 50%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    cursor: pointer;
    -webkit-transition: 0.3s ease-in-out;
    -webkit-transform: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -moz-transform: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    transform: 0.3s ease-in-out;
}

a button:hover {
    transform: scale(1.25);
}

/*Delete Button Styling*/
button {
    background-color: rgb(211, 162, 162);
    margin-top: 7px;
    margin-left: 0px;
    -webkit-transition: 0.3s ease-in-out;
    -webkit-transform: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -moz-transform: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    transform: 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.07);
}

/*Travels Section Card Styling*/
section{
    position: relative;
    height: 300px;
    z-index: 2;
    margin: 31px 31px 31px 31px;
    padding: 5px 5px;
    border: 15px;
    background: rgba(245, 245, 245, 0.671);
    border-radius: 12px;
    transform: translateY(31px);
}

/*create a trip panel*/
.create-trip {
    display:grid;
    font-weight: 600;
    flex-wrap: wrap;
    position: relative;
    height: 450px;
    z-index: 2;
    margin: 35px 35px 35px 35px;
    padding: 5px 5px;
    border: 15px;
    background: rgba(245, 245, 245, 0.671);
    border-radius: 12px;
    transform: translateY(31px);
}

/*form styling*/
textarea {
    font-size: 15px;
    max-width: 440px;
    max-height: 40px;
}

#description {
    max-width: 440px;
    max-height: 200px;
}

#rating {
    max-width: 96px;
    max-height: 43px;
}

#submit{
    width:100;
    margin: 0px 45%;
    -webkit-transition: 0.3s ease-in-out;
    -webkit-transform: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -moz-transform: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    transform: 0.3s ease-in-out;
}



/* Footer Styling*/
footer {
    background: black;
    color: white;
}

footer ul li {
    display: flex;
    margin-top: 15px;
    margin-left: 25%;
    padding: 5px;
}

/* responsive media query start */
@media all and (max-width: 300px){
    html body .create-trip {
        margin-right: 40%;
    }
}

@media all and (min-width: 600px){
   .create-trip {
        margin-left: 20%;
        margin-right: 20%
    }
}
