.header {
  background-image: url(../images/dubai.jpg);
  opacity: 80%;
  height: 800px;
}

.headtext {
  padding:120px
}

body, html{
    min-height: 100%;
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    color: #050536;
    font-size: 100px;
    font-weight:100;
    align-items: center;
}

h2 {
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    color: #050536;
    font-size: 30px;
    font-weight:100;
    align-items: center;
}

#nav-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

ul {
    list-style: none;
    width: max-content;
    align-items: center;
}

li {
    background:rgba(245, 245, 245, 0.671);
    list-style: none;
    text-align: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

li h3 {
    font-size: 30px;
    width:25%;
    margin:0 auto;
    text-align:center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;

}

h4 {
    font-size: 26px;
    margin: 0;
}

p {
    font-weight: 500;
    font-size: 20px;
    margin: 20px;
    line-height: 30px;
}

.image {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0, 10px, 0, 10px;
    height: auto !important;
    /* max-width: 50%; */
    max-height: 60%;
}

/*Add trip/Delete trip Button styling*/
button {
    padding:5px;
    background-color: #6992b4;
    font-size: 20px;
    color: aliceblue;
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 2%;
    cursor: pointer;
    -webkit-transition: 0.3s ease-in-out;
    -webkit-transform: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -moz-transform: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    transform: 0.3s ease-in-out;
}

.delete {
    width:15%;
    margin:0 auto;
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete:hover {
    transform: scake(2.0);
}

button:hover {
    transform: scale(1.07);
}

#trip-header {
    padding-top: 30px;
    margin-left: auto;
    text-align: center;
}

/*Travels Section Card Styling*/
section {
    position: relative;
    height: 300px;
    z-index: 2;
    margin: 31px 31px 31px 31px;
    padding: 5px 5px;
    border: 15px;
    background: rgba(245, 245, 245, 0.671);
    border-radius: 12px;
    transform: translateY(31px); 
} 

.cards {
    margin-top: 200px;
    width: 95%;
}

#loginHeader {
    text-align: center;
    padding-top: 40px;
}

#loginHeader h2 {
    display: flex;
    flex-wrap: nowrap;
}

.loginForm {
    height: 25%;
}

.login-label {
    height: 10%;
    margin-bottom: 15px;
}

.login {
    padding-top: 45px;
    text-align: center;
    height: 40%;
}

#registrationHeader {
    text-align: center;
    padding-top: 40px;
}

.signup {
    padding-top: 45px;
    text-align: center;
    height: 40%;
}

/*create a trip panel*/
.create-trip {
    text-align: center;
    display:grid;
    font-weight: 600;
    flex-wrap: wrap;
    position: relative;
    height: 450px;
    z-index: 2;
    margin: 35px 35px 35px 35px;
    padding: 5px 5px;
    border: 15px;
    background: rgba(245, 245, 245, 0.671);
    border-radius: 12px;
    transform: translateY(31px);
}

/*form styling*/
textarea {
    font-size: 15px;
    max-width: 440px;
    max-height: 40px;
}

#description {
    max-width: 440px;
    max-height: 200px;
}

#rating {
    max-width: 96px;
    max-height: 43px;
}

#submit{
    width:100;
    margin: 0px 48.5%;
    -webkit-transition: 0.2s ease-in-out;
    -webkit-transform: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -moz-transform: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    transform: 0.2s ease-in-out;
}

/* Footer Styling*/
footer {
    border: 3px solid black;
    background: black;
    color: white;
    text-align: center;
    margin-bottom: 0;
}

footer ul {
    width: 75%;
    margin-left: 11%;
    justify-content: space-evenly;
}

#contributer {
    text-align: center;
    display: inline;
    margin-bottom: 7px;
}

/* responsive media query start */
@media all and ( max-width: 1082px) {
    p {
        margin: 2px;
    }

}

@media all and ( max-width: 600px) {
    h4 {
        font-size: 16px;
    }
    .image {
        max-width: 380px;
        max-height: 380px;

    }
    p {
        margin-bottom: 0;
    }
    .create-trip {
        margin-left: 20%;
        margin-right: 20%
    }
    .delete {
        font-size: 16px;
        background-image: url(../images/delete.png);
    }
    
}

@media all and ( max-width: 375px) {
    .header {
        width: max-content;
    }
    p {
        width: max-content;
        font-size: 30px;
    }
    .image {
        max-width: 30px;
        max-height: 30px;

    }
    html body .create-trip {
        margin-right: 40%;
    }
    .nav-btns {
        flex-direction: column;
    }
    button .delete {
        background-color: none;
        background-image: url(../images/delete.png);
    }
}