/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif, 'Segoe UI', Tahoma, verdana;
} */



.header {
  background-image: url(../images/dubai.jpg);
  opacity: 80%;
  height: 800px;
}

.headtext {
  padding:120px
}

body, html{
    min-height: 100%;
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    color: #050536;
    font-size: 100px;
    font-weight:100;
    align-items: center;
}

h2 {
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    color: #050536;
    font-size: 30px;
    font-weight:100;
    align-items: center;
}

#nav-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

ul {
    list-style: none;
    width: max-content;
    align-items: center;
}

li {
    background:rgba(245, 245, 245, 0.671);
    list-style: none;
    text-align: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    margin-bottom: 20px;
}

.label {
    font-weight: bold;
}

li h3 {
    font-size: 30px;
}

p {
    font-weight: 500;
}

/*Add trip/Delete trip Button styling*/
button {
    padding:5px;
    background-color: #6992b4;
    font-size: 20px;
    color: aliceblue;
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 2%;
    cursor: pointer;
    -webkit-transition: 0.3s ease-in-out;
    -webkit-transform: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -moz-transform: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    transform: 0.3s ease-in-out;
}

.delete {
    width:15%;
    margin:0 auto;
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a button:hover {
    transform: scale(1.25);
}

/*Delete Button Styling*/
/* .delete {
    padding:5px;
    background-color: rgb(211, 162, 162);
    margin-top: 7px;
    margin-left: 0px;
    -webkit-transition: 0.3s ease-in-out;
    -webkit-transform: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -moz-transform: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    transform: 0.3s ease-in-out;
} */

button:hover {
    transform: scale(1.07);
}

#trip-header {
    margin-left: auto;
    text-align: center;
}

/*Travels Section Card Styling*/
section {
    position: relative;
    height: 300px;
    z-index: 2;
    margin: 31px 31px 31px 31px;
    padding: 5px 5px;
    border: 15px;
    background: rgba(245, 245, 245, 0.671);
    border-radius: 12px;
    transform: translateY(31px); 
} 

.cards {
    margin-top: 200px;
    width: 95%;
}

/*create a trip panel*/
.create-trip {
    display:grid;
    font-weight: 600;
    flex-wrap: wrap;
    position: relative;
    height: 450px;
    z-index: 2;
    margin: 35px 35px 35px 35px;
    padding: 5px 5px;
    border: 15px;
    background: rgba(245, 245, 245, 0.671);
    border-radius: 12px;
    transform: translateY(31px);
}

/*form styling*/
textarea {
    font-size: 15px;
    max-width: 440px;
    max-height: 40px;
}

#description {
    max-width: 440px;
    max-height: 200px;
}

#rating {
    max-width: 96px;
    max-height: 43px;
}

#submit{
    width:100;
    margin: 0px 45%;
    -webkit-transition: 0.3s ease-in-out;
    -webkit-transform: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -moz-transform: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    transform: 0.3s ease-in-out;
}



/* Footer Styling*/
footer {
    background: black;
    color: white;
}

footer ul li {
    display: flex;
    margin-top: 15px;
    margin-left: 25%;
    padding: 5px;
}

/* responsive media query start */
@media all and (max-width: 300px){
    html body .create-trip {
        margin-right: 40%;
    }
    .nav-btns {
        flex-direction: column;
    }
}

@media all and (min-width: 600px){
   .create-trip {
        margin-left: 20%;
        margin-right: 20%
    }
    .nav-btns {
        flex-direction: column;
    }
}

@media (min-width: 480px) {
    .nav-btns {
        flex-direction: row;
    }
}
